
body, html {
    height: 100%;
  }

  .bg {
    /* The image used */
    background-image: url("ponies/book6-900x1022.jpg");
  
    /* Full height */
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  /* #grid {
       display: grid; 
       grid-template-columns: auto auto; 
    } */
.accessories-holder {
    border: 1px solid black;
    padding-bottom: 5px;
    width: 1000px;
    height:250px;
}

#dress {
width: 200px

}

#shoe {
    
}

  .container {
    border: 1px solid black;
    display: inherit;
    
    padding: 5px;
    justify-content: space-evenly;
}


.draggable {
    
    border: 1px solid black;
    cursor: grabbing;
    margin: 5px;
    width: inherit;
   
}

.draggable.dragging {
    opacity: .5;
}
  
.dropzone {
    width: 600px;
    height: 350px;
    padding: 5px;
    background-image: url(ponies/rainbowpony.png);
    background-repeat: no-repeat;
    display: flex;
    border: 1px solid black;
    display:grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: auto auto auto;
    max-inline-size: 600px;
} 

.acc-container {
    border: 1px solid black;
   

}
.acc-container2 {
    border: 1px solid black;

}
.acc-container3 {
    border: 1px solid black;

}
.acc-container4 {
    border: 1px solid black;

}

.example-parent {
    border: 2px solid #DFA612;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-origin {
    border: 2px solid #DFA612;
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  
  .example-draggable {
    border: 2px solid #DFA612;
    /* opacity: .5; */
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor:-webkit-grab               /*    how to grab */
    
}
  
  .sub-item {
    border: 2px solid #DFA612;
   
   flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }

  img {
      width: 200px;
  }
  
  #img2 {
    width: 100px;
}

#inline {
  display: inline;
  float:left;
}

