* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: sans-serif;
  }
  
  nav {
    height: 20vh;
    background: black;
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
  }
  
  .nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .landing {
    background: white;
    height: 40vh;
    display: flex;
    justify-content:inherit;
    align-items:baseline;
    padding-bottom: 10px;
  }
  
  .landing h1 {
    margin: 100px;
    font-size: 50px;
    color: black;
  }
  
  @media screen and (max-width: 1500px) {
    .line {
      width: 30px;
      height: 3px;
      background: white;
      margin: 5px;
    }
    nav {
      position: relative;
    }
  
    .hamburger {
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 50%;
      transform: translate(-5%, -50%);
      z-index: 2;
    }
  
    .nav-links {
      position: fixed;
      background: black;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(100px at 90% -10%);
      -webkit-clip-path: circle(100px at 90% -10%);
      transition: all 1s ease-out;
      pointer-events: none;
    }
    .nav-links.open {
      clip-path: circle(1000px at 90% -10%);
      -webkit-clip-path: circle(1000px at 90% -10%);
      pointer-events: all;
    }
    .landing {
      flex-direction: column;
    }
    .nav-links li {
      opacity: 0;
    }
    .nav-links li a {
      font-size: 25px;
    }
    .nav-links li:nth-child(1) {
      transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
      transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
      transition: all 0.5s ease 0.6s;
    }
    li.fade {
      opacity: 1;
    }
  }






html {
    height: 100%;
  }

  .bg {
    /* The image used */
    background-image: url("ponies/book6-900x1022.jpg");
  
    /* Full height */
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: inherit;
    background-repeat:none;
    background-size: inherit;

  }












  /* #grid {
       display: grid; 
       grid-template-columns: auto auto; 
    } */
.accessories-holder {
    border: 1px solid black;
    
    padding: 10px;
    width: 600px;
    height:200px;
}

#dress {
width: 150px;

}

#shoe {
    
}

#bow {
    width:40px;
}

  .container {
    border: 1px solid black;
    display: inherit;
    
    padding: 5px;
    justify-content: space-evenly;
}


.draggable {
    
    border: 1px solid black;
    cursor: grabbing;
    margin: 5px;
    width: inherit;
   
}

.draggable.dragging {
    opacity: .5;
}
  
.dropzone {
    width: 575px;
    height: 350px;
    
    background-image: url(ponies/rainbowpony.png);
    background-repeat: no-repeat;
    display: flex;
    border: 1px solid black;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(10, auto);
    grid-auto-rows:inherit;
} 


.area1 {

border: 1px solid lightcoral;
display: grid;
    grid-template-columns:repeat(2, auto);
    grid-template-rows: repeat(4, auto);
}

.area2 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
}

.area3 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns:repeat(4, auto);
    grid-template-rows: repeat(10, auto);
}

.area4 {
    
    border: 1px solid yellow;
    display: grid;
    grid-template-columns:repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.area5 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns:repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.area6 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns:repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.area7 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns:repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

.area8 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns:repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

.area9 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns:repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.area10 {
    border: 1px solid lightcoral;
    display: grid;
    grid-template-columns:repeat(5, auto);
    grid-template-rows: repeat(5, auto);
}

.acc-container {
    border: 1px solid black;
   

}
.acc-container2 {
    border: 1px solid black;

}
.acc-container3 {
    border: 1px solid black;

}
.acc-container4 {
    border: 1px solid black;

}











.ball{
  position: relative;
  flex-shrink: 0;
  width: 38.197vw;
  height: 38.197vw;
  border-radius: 50%;
  overflow: hidden;
  }  
.noise {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1000 1000' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.8' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%' height='100%' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-image: url(/ponies/IMG_1580.jpg);
  opacity: .5;
  
}
  
#gradient {
  width: 100%;
  height: 100%;
}
.section{
  background: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 70vh;
}
  .h1 {
    z-index: 1;
    margin-right: -20vw;
    mix-blend-mode: multiply;
    color: rgba(black, .4);
    font-size: 6vw;
    font-style:italic;
    line-height: .92;
    letter-spacing: -.023em;
    text-align: right;

  }
